// recent events card

.recent-events-card {
    & &__image {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: $polimark-border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__date {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 62px;
        height: 62px;
        background-color: $polimark-color-black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: $polimark-border-radius;
        font-size: 16px;
        font-weight: 800;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.2em;
    }

    .single-event-post__meta {
        margin: 0;
    }

    &__content {
        border: 1px solid $polimark-color-border;
        border-top: 0;
        border-radius: $polimark-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 21px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        transition: all 500ms ease;
        background-color: #fff;

        @media(min-width:375px) {
            padding-top: 31px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &:hover &__content {
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
    }

    &__title {
        margin: 0;
        color: $polimark-color-black;
        font-size: 26px;
        line-height: 36px;
        font-weight: 800;

        a {
            text-decoration: none;
            color: inherit;
            transition: all 500ms ease;

            &:hover {
                color: $polimark-color-base;
            }
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        color: $polimark-color-black;
        font-weight: 800;
        border-radius: $polimark-border-radius;
        background-color: $polimark-color-gray;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 3.5px;
        padding-bottom: 3.5px;
        padding-left: 17.5px;
        padding-right: 17.5px;
        transition: all 500ms ease;
        margin-top: 20px;

        &:hover {
            background-color: $polimark-color-primary;
            color: #fff;
        }
    }
}

.recent-events {
    padding-bottom: 120px;

    .block-heading {
        margin-bottom: 50px;
    }

    .owl-dots {
        display: none;
    }
}

.recent-events-carousel {
    .owl-stage-outer {
        overflow: visible;
    }

    .owl-item {
        opacity: 0;
        visibility: hidden;
        transition: opacity 500ms ease, visibility 500ms ease;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.single-event-post {
    padding-top: 120px;
    padding-bottom: 120px;

    &__image {
        position: relative;

        img {
            border-radius: $polimark-border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__date {
        width: 62px;
        height: 62px;
        background-color: $polimark-color-black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: $polimark-border-radius;
        font-size: 16px;
        font-weight: 800;
        line-height: 1.2em;
        padding: 10px;
        text-align: center;
    }

    &__content {
        border-radius: $polimark-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid $polimark-color-border;
        border-top: 0;
        padding-top: 35px;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__text {
        margin-top: 25px;

        p {
            margin: 0;
            color: $polimark-color-text;
            font-size: 18px;
            line-height: 34px;
            font-weight: 500;

            +p {
                margin-top: 30px;
            }
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;

        li {
            font-size: 16px;
            color: $polimark-color-text;
            font-weight: 500;

            +li {
                margin-left: 17px;
            }

            i {
                color: $polimark-color-base;
                margin-right: 3px;

                &.fa-location-arrow {
                    font-size: 14px;
                    margin-right: 5px;
                }
            }
        }
    }

    &__title {
        margin: 0;
        font-size: 36px;
        line-height: 48px;
        color: $polimark-color-black;
        font-weight: 800;
    }

    &__widget {
        background-color: $polimark-color-gray;
        border-radius: 12px;
        overflow: hidden;

        &__title {
            background-color: $polimark-color-primary;
            font-size: 24px;
            font-weight: 800;
            color: #fff;
            padding-left: 40px;
            padding-right: 40px;
            margin: 0;
            padding-top: 22px;
            padding-bottom: 22px;
        }

        &__map__wrapper {
            width: 100%;
            padding: 40px;

            iframe {
                width: 100%;
                height: 220px;
                border-radius: 12px;
            }
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-top: 40px;
            padding-bottom: 40px;

            li {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 40px;
                padding-right: 40px;
                line-height: 1;

                +li {
                    margin-top: 22px;
                }

                i {
                    font-size: 16px;
                    color: $polimark-color-base;
                    width: 16px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    line-height: 1;
                    margin-right: 20px;
                }

                strong {
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 600;
                    color: $polimark-color-black;
                }

                span {
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 600;
                    color: $polimark-color-text;
                    margin-left: auto;
                }
            }
        }

        &__speakers {
            margin: 0;
            padding: 0;
            padding-top: 40px;
            padding-bottom: 40px;

            li {
                padding-left: 40px;
                padding-right: 40px;
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;

                @media(min-width: 450px) {
                    flex-direction: row;
                    text-align: left;
                }

                +li {
                    margin-top: 20px;
                }

                img {
                    border-radius: 50%;
                    margin-bottom: 20px;

                    @media(min-width: 450px) {
                        margin-bottom: 0;
                    }
                }
            }

            &__content {
                margin-left: 0;

                @media(min-width: 450px) {
                    margin-left: 20px;
                }
            }

            &__name {
                margin: 0;
                font-size: 21px;
                font-weight: 800;
                color: $polimark-color-black;
                line-height: 1;
                margin-bottom: 10px;
            }

            &__designation {
                color: $polimark-color-text;
                line-height: 1;
                font-weight: 500;
                font-size: 16px;
                margin: 0;
            }
        }
    }

    &__widget+&__widget {
        margin-top: 30px;
    }

    &__content {
        padding-bottom: 40px;
    }

}

.event-card {

    border-radius: $polimark-border-radius;
    transition: all 500ms ease;

    &:hover {
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    }

    &__image {
        flex-shrink: 0;
        width: 100%;
        margin-right: 0;

        @media(min-width: 768px) {

            width: 152px;
            margin-right: 40px;
        }

        img {
            width: 100%;
        }
    }

    &__inner {
        background-color: #fff;
        display: flex;
        overflow: hidden;
        border-radius: $polimark-border-radius;
        padding-right: 30px;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0;

        @media(min-width: 768px) {
            padding-right: 30px;
            flex-direction: row;
            align-items: center;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        color: $polimark-color-text;
        font-size: 16px;
        font-weight: 500;

        >i {
            color: $polimark-color-base;
            font-size: 16px;
            margin-right: 8px;
        }
    }

    &__title {
        margin: 0;
        font-size: 20px;
        line-height: 36px;
        font-weight: 600;
        color: $polimark-color-black;

        a {
            color: inherit;
            transition: all 500ms ease;

            &:hover {
                color: $polimark-color-base;
            }
        }
    }

    &__content {
        padding: 30px;

        @media(min-width: 768px) {
            padding: 0;
        }
    }
}

.event-two {
    background-color: $polimark-color-gray;
    border-bottom-left-radius: 18px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;

    position: relative;

    @media(min-width: 1200px) {
        padding-left: 120px;
        padding-right: 0px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &::before {
        content: '';
        width: 100000px;
        left: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $polimark-color-gray;
        display: none;

        @media(min-width: 1200px) {
            display: block;
        }
    }

    .row {
        margin-bottom: 0;
        margin-top: 0;

        [class*=col-]:first-child {
            margin-top: 0;
        }
    }
}