.featured-icon {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    background-color: $polimark-color-gray;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;

    @media(min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1200px) {
        padding-left: 120px;
        padding-right: 0px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &::before {
        content: '';
        width: 100000px;
        left: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $polimark-color-gray;
        display: none;

        @media(min-width: 1200px) {
            display: block;
        }
    }

    &__card {
        background-color: #fff;
        border-radius: $polimark-border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 500ms ease;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;

        &:hover {
            background-color: $polimark-color-base;

            >i {
                color: #fff;
            }
        }

        >i {
            font-size: 64px;
            color: $polimark-color-black;
            transition: all 500ms ease;
            margin-bottom: 35px;
        }

        &__title {
            margin: 0;
            color: $polimark-color-black;
            font-size: 20px;
            font-weight: 600;
            transition: all 500ms ease;

            a {
                color: inherit;
                transition: all 500ms ease;

                &:hover {
                    color: #fff;
                    opacity: 0.8;
                }
            }
        }

        &:hover &__title {
            color: #fff;
        }
    }
}


.featured-one {
    .block-heading {
        margin-bottom: 50px;
    }

    &__card {
        border-radius: 18px;
        transition: all 500ms ease;

        &:hover {
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
        }

        &__inner {
            overflow: hidden;
            border-radius: 8px;
            overflow: hidden;
        }

        & &__image {
            img {
                width: 100% !important;
            }
        }

        &__content {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: #fff;
            border: 1px solid $polimark-color-border;
            border-top: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            padding-top: 33px;
        }

        &__title {
            margin: 0;
            font-size: 26px;
            font-weight: 800;
            color: $polimark-color-black;
            margin-bottom: 15px;

            a {
                color: inherit;
                transition: all 500ms ease;

                &:hover {
                    color: $polimark-color-base;
                }
            }
        }

        &__text {
            color: $polimark-color-text;
            font-size: 16px;
            line-height: 30px;
            font-weight: 500;
        }

        & &__link {
            width: 48px;
            height: 48px;
            background-color: $polimark-color-background-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 18px;
            color: #fff;
            border-radius: 50%;
            margin-top: 21px;
            transition: all 500ms ease;

            &:hover {
                background-color: $polimark-color-base;
                color: #fff;
            }
        }

    }
}

.featured-two {
    .block-heading {
        margin-bottom: 50px;
    }

    &__card {
        &__inner {
            overflow: hidden;
            border-radius: 18px;
            position: relative;
        }

        &__image {
            img {
                transform: scale(1.0);
                width: 100% !important;
                transition: transform 500ms ease;
            }
        }

        &:hover &__image {
            img {
                transform: scale(1.05);
            }
        }

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 20px;
            display: flex;
            align-items: flex-end;

            &__inner {
                background-color: #fff;
                border-radius: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 40px;
                padding-right: 40px;
                width: 100%;
                padding-top: 37.5px;
                padding-bottom: 37.5px;
            }
        }

        &__title {
            margin: 0;
            color: $polimark-color-black;
            font-size: 24px;
            font-weight: 800;
            width: 146px;

            a {
                color: inherit;
                transition: all 500ms ease;

                &:hover {
                    color: $polimark-color-primary;
                }
            }
        }

        &__link {
            width: 36px;
            height: 36px;
            background-color: $polimark-color-gray;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: $polimark-border-radius;
            transition: all 500ms ease;

            &:hover {
                background-color: $polimark-color-base;
                color: #fff;
            }
        }
    }

}